@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: black;
}
.container2{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.box2{
    width: 664px;
    height: 608px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px 24px;
}
.title3{
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}
.form{
    display: flex;
    flex-wrap: wrap;
}
.input5{
    width: 408px;
    height: 48px;
    opacity: 0.5;
    border: 0.5px solid #AEAEAE;
    border-radius: 8px;
    padding-left: 15px;
    margin-right: 8px;
    margin-bottom: 16px;
}
.input6{
    width: 200px;
    height: 48px;
    opacity: 0.5;
    border: 0.5px solid #AEAEAE;
    border-radius: 8px;
    padding-left: 16px;
    margin-bottom: 16px;
}
.input7{
    width: 304px;
    height: 48px;
    opacity: 0.5;
    border: 0.5px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 16px;
}
.input7-1{
    margin-right: 8px;
}
.subtitle3{
    font-family: Sora, sans-serif;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 8px;
}
.input8{
    width: 625px;
    height: 48px;
    opacity: 0.5;
    border: 0.5px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 16px;
    margin-bottom: 16px;
}
.input9{
    width: 200px;
    height: 48px;
    opacity: 0.5;
    border: 0.5px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 16px;
    margin-bottom: 16px;
}
.input9-1{
    margin-right: 4px;
}
.input8-1{
    margin-bottom: 40px!important;
}
.btn{
    width: 384px;
    height: 48px;
    background: #232529;
    border-radius: 4px;
    margin-left: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    font-family: Sora, sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 100;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-decoration: none;
}
